<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html>

<head>
    <title>Page Title</title>
</head>

<body>
    <script>

        const uri = 'http://127.0.0.1:5000/sessions';
        const initDetails = {
            method: 'get',
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            mode: "cors"
        }
        let sessions =

        function GetData() {

            fetch( uri, initDetails )
                .then( response =>
                {
                    if ( response.status !== 200 )
                    {
                        console.log( 'Looks like there was a problem. Status Code: ' +
                            response.status );
                        return;
                    }

                    console.log( response.headers.get( "Content-Type" ) );
                    return response.json();
                }
                )
                .then( myJson =>
                {
                    console.log( JSON.stringify( myJson ) );

                } )
                .catch( err =>
                {
                    console.log( 'Fetch Error :-S', err );
                } );
        }
    </script>
        <input type="button" id='getData' onclick="GetData()" value="Get Data">
    <div style="text-align: center; margin-top: 10%;">
        <h3>Status: {{ state }}</h3>
    </div>

</body>

</html></title>
</head>
<body>

</body>
</html>